{% load staticfiles %}

{% block groups_table %}

    <div class="card">
        <div class="card-body leftButton">
            <button type="button" class="btn bg-slate-600" data-toggle="modal" data-target="#modal_form_vertical">Add group</button>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Group</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/groups/group_add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Group Name:</label>
                                    <input type="text" placeholder="Enter group name" class="form-control"
                                    name="group_name">
                                </div>

                                <div class="col-sm-6">
                                    <label class="ml-sm-2">Group alias:</label>
                                    <input type="text" placeholder="Group alias" class="form-control"
                                    name="group_alias">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-slate-600 ml-sm-2 mb-sm-0">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->


    <!-- Language table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-toggle="true">Group Name</th>
                <th data-hide="phone,tablet">Group Alias</th>
                <th data-hide="phone,tablet">Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.trans_group_title }}</td>
                    <td>{{ group.trans_group_alias }}</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal_form_vertical_{{ group.id }}"><i class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('group-delete-{{ group.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/groups/group_delete/" method="post" id="group-delete-{{ group.id }}">
                                {% csrf_token %}
                                <input name="group_delete" value="{{ group.id }}" style="display: none">
                            </form>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ group.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Group</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/groups/group_add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="group_id" value="{{ group.id }}" style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Group Name:</label>
                                                <input type="text" placeholder="Enter group name" class="form-control"
                                                       name="group_name" value="{{ group.trans_group_title }}">
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="ml-sm-2">Group alias:</label>
                                                <input type="text" placeholder="Group alias" class="form-control"
                                                       name="group_alias" value="{{ group.trans_group_alias }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn bg-slate-600 ml-sm-2 mb-sm-0">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /language table -->


{% endblock %}