{% load staticfiles %}

{% block languages_table %}

    <div class="card">
        <div class="card-body leftButton">
            <button type="button" class="btn bg-slate-600" data-toggle="modal" data-target="#modal_form_vertical">Add language</button>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Language</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/languages/language_add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Language Name:</label>
                                    <input type="text" placeholder="Enter language name" class="form-control"
                                    name="language_name">
                                </div>

                                <div class="col-sm-4">
                                    <label class="ml-sm-2">Language native name:</label>
                                    <input type="text" placeholder="Language native name" class="form-control"
                                    name="language_native">
                                </div>
                                <div class="col-sm-4">
                                    <label class="ml-sm-2">Language code:</label>
                                    <input type="text" placeholder="Language 2 letter code" class="form-control"
                                    name="language_code">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-slate-600 ml-sm-2 mb-sm-0">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->


    <!-- Language table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-toggle="true">Language Name</th>
                <th data-hide="phone,tablet">Language Native</th>
                <th data-hide="phone,tablet">Language Code</th>
                <th data-hide="phone,tablet">Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for language in languages %}
                <tr>
                    <td>{{ language.language_name }}</td>
                    <td>{{ language.language_native }}</td>
                    <td>{{ language.language_code }}</td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal_form_vertical_{{ language.id }}"><i class="fa fa-edit mr-3"></i></button>
                            <button type="button" class="btn btn-link"
                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                            document.getElementById('language-delete-{{ language.id }}').submit(); return false">
                                <i class="fa fa-trash-o" style="color: red;"></i></button>
                            <form action="/languages/language_delete/" method="post" id="language-delete-{{ language.id }}">
                                {% csrf_token %}
                                <input name="language_delete" value="{{ language.id }}" style="display: none">
                            </form>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ language.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Language</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/languages/language_add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="language_id" value="{{ language.id }}" style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Language Name:</label>
                                                <input type="text" placeholder="Enter language name" class="form-control"
                                                       name="language_name" value="{{ language.language_name }}">
                                            </div>

                                            <div class="col-sm-4">
                                                <label class="ml-sm-2">Language native name:</label>
                                                <input type="text" placeholder="Language native name" class="form-control"
                                                       name="language_native" value="{{ language.language_native }}">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="ml-sm-2">Language code:</label>
                                                <input type="text" placeholder="Language 2 letter code" class="form-control"
                                                       name="language_code" value="{{ language.language_code }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn bg-slate-600 ml-sm-2 mb-sm-0">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->


            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /language table -->





{% endblock %}