{% load staticfiles %}

{% block home_table %}

    <!-- Language table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-toggle="true">Language Name</th>
                <th data-hide="phone,tablet">Translated</th>
                <th data-hide="phone,tablet">Translated (percent)</th>
            </tr>
            </thead>
            <tbody>
            {% for language in languages %}
                <tr>
                    <td>
                        {{ language.language_name }}
                    </td>
                    <td>
                        {{ language.num_translation }} / {{ main_dictionary }}
                    </td>
                    <td>
                        <div class="progress" style="height: 2rem;">
                            <div class="progress-bar bg-teal" style="width: {{ language.percent }}%">
                                <span>{{ language.percent }}% Complete</span>
                            </div>
                        </div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /language table -->


{% endblock %}