{% extends "lingvo_main.html" %}
{% load staticfiles %}


{% block content_wrapper %}

    <!-- Page header  -->
    {% block translation_header %}
        {% include "tables/translation_tables/translation_header.html" %}
    {% endblock %}
    <!-- /Page header -->


    <div class="content">
        <!-- Select language, group and translated/not-translated -->
        {% block translation_filter %}
            {% include "tables/translation_tables/translation_filter.html" %}
        {% endblock %}
        <!-- /Select language, group and translated/not-translated -->


        <!-- Row toggler -->
        {% block translation_table %}
            {% include "tables/translation_tables/translation_table.html" %}
        {% endblock %}
        <!-- /Row toggler -->


        <!-- Pagination -->
        {% block translation_pagination %}
            {% include "tables/translation_tables/translation_pagination.html" %}
        {% endblock %}
        <!-- /Pagination -->
    </div>

{% endblock %}




<!-- #################################### -->
<!-- BLOCKS NECESSARY FOR MAIN HTML START -->
{% block main_navbar %}
    {% include "blocks/main/main_navbar.html" %}
{% endblock %}

{% block main_footer %}
    {% include "blocks/main/main_footer.html" %}
{% endblock %}
<!-- BLOCKS NECESSARY FOR MAIN HTML END -->
<!-- ################################## -->



<!-- #################################### -->
<!-- MAIN HTML HEADER START -->
{% block main_header %}
    <!-- <script src="{% static "global_assets/js/demo_pages/dashboard.js" %}"></script> -->
{% endblock %}
<!-- MAIN HTML HEADER END -->
<!-- ################################## -->