{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>EcEla Translate</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static "global_assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets/css/bootstrap_limitless.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets/css/layout.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets/css/components.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets/css/colors.min.css" %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
    <script src="{% static "assets/js/app.js" %}"></script>
	<script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
	<script src="{% static "global_assets/js/main/bootstrap.bundle.min.js" %}"></script>
	<script src="{% static "global_assets/js/plugins/loaders/blockui.min.js" %}"></script>
	<!-- /core JS files -->

</head>

<body class="navbar-top">

    <!-- Login navbar -->
    {% block login_navbar %}
        {% include "blocks/main/login_navbar.html" %}
    {% endblock %}
	<!-- /login navbar -->

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
            {% block content_wrapper %}
                {% include "tables/login/login_form.html" %}
            {% endblock %}
            <!-- /content area -->

            <!-- Footer -->
            {% block main_footer %}{% endblock %}
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>