{% load staticfiles %}
{% block main_navbar %}
	<div class="navbar navbar-lg navbar-expand-md navbar-dark fixed-top">
		<div class="navbar-brand">
			<a href="/" class="d-inline-block">
				<img src="" alt="">
			</a>
		</div>

</div>

{% endblock %}