{% load staticfiles %}
{% block main_navbar %}
<div class="navbar navbar-lg navbar-expand-md navbar-dark fixed-top">

    <div class="d-xl-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="navbar-nav-link">Homepage</a>
            </li>
            {% if user.username == "admin" %}
            <li class="nav-item">
                <a href="/languages" class="navbar-nav-link">Languages</a>
            </li>
            <li class="nav-item">
                <a href="/groups" class="navbar-nav-link">Groups</a>
            </li>
            <li class="nav-item">
                <a href="/main_dictionary" class="navbar-nav-link">Main Dictionary</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="/translation" class="navbar-nav-link">Translation</a>
            </li>
        </ul>
        <div class="mb-3 mb-xl-0 ml-xl-auto"></div>
        <ul class="navbar-nav">
            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="{% static "global_assets/images/placeholders/placeholder.jpg" %}" class="rounded-circle" alt="">
                    <span>{{ user.username|title }} </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item">
                        <form action="/test/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item"><i class="icon-sync"></i> Syncronize</button>
                        </form>
                    </a>
                    <a class="dropdown-item">
                        <form action="/sync-json/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item"><i class="icon-sync"></i> Syncronize JSON</button>
                        </form>
                    </a>
                    <a class="dropdown-item">
                        <form action="/logout/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item"><i class="icon-switch2"></i> Logout</button>
                        </form>
                    </a>
                </div>
            </li>
        </ul>
    </div>

</div>

{% endblock %}