{% for translation in translations %}
<tr>
    {% csrf_token %}
    <td>{{ translation.trans_sentence.trans_dict_group.trans_group_title }}</td>
    <td>{{ translation.trans_sentence.trans_dict_sentence }}</td>
    <td>{% for translated in translation.trans_sentence.trans_sentence_key.all %}{% if translated.trans_language.language_code == trans_from %}{{ translated.trans_translation }}{% else %}{% endif %}{% endfor %}</td>
    <td>
        <input id="trans_ajax_value{{ translation.trans_sentence.id }}" type="text" name="trans_translation" class="form-control" placeholder="Translate the sentence"
               value="{% for translated in translation.trans_sentence.trans_sentence_key.all %}{% if translated.trans_language.language_code == trans_to %}{{ translated.trans_translation }}{% else %}{% endif %}{% endfor %}">
    </td>
    <td>
        <button id="translation_submit_ajax_{{ translation.trans_sentence.id }}" class="btn bg-slate-600 btn-ladda btn-ladda-spinner" data-style="fade" data-spinner-color="#333" data-spinner-size="20">
            <span class="ladda-label">Save</span>
        </button>
        
        <script>
            $('#translation_submit_ajax_{{ translation.trans_sentence.id }}').click(function(){
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajax
                ({
                    url: '/translation/translation-add/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'trans_translation': $('input[id="trans_ajax_value{{ translation.trans_sentence.id }}"]').val(),
                        'trans_sentence_id': {{ translation.trans_sentence.id }},
                        'trans_language_id': {{ lang_to_id }}
                    },
                    type: 'post',
                    success: function(result)
                    {
                        $("#translation_table_row_ajax_{{ translation.trans_sentence.id }}").html(result);
                    }
                });
            });
        </script>
    
    </td>
</tr>
{% endfor %}