{% load staticfiles %}

{% block translation_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if translations.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/translation/{{ translations.previous_page_number }}/">
                        &laquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in translations.paginator.page_range %}
                {% if page == translations.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/translation/{{ page }}/">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if translations.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/translation/{{ translations.next_page_number }}/">
                        &raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}