{% load staticfiles %}

{% block translation_filter %}

<div class="card">
<div class="row">
    <table class="table table-togglable table-hover table-dark bg-slate-600">
        <tbody>
        <tr>
            <th data-toggle="true">
                Filters
            </th>
            <td data-hide="phone,tablet">
                <form action="/translation/change-show-group/" method="post">
                    {% csrf_token %}
                    <select name="show_by_group" onchange="this.form.submit()" class="form-control select" data-container-css-class="bg-slate-700"
                            data-dropdown-css-class="bg-slate-700" data-fouc>
                        {% if filter_group == 'all' %}
                            <option value="all" selected>All Groups</option>
                        {% else %}
                            <option value="all">All Groups</option>
                        {% endif %}

                        {% for group in all_groups %}
                            {% if filter_group == group.trans_group_alias %}
                                <option value="{{ group.trans_group_alias }}" selected>{{ group.trans_group_title }}</option>
                            {% else %}
                                <option value="{{ group.trans_group_alias }}">{{ group.trans_group_title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </td>
            <td data-hide="phone,tablet">
                <form action="/translation/change-show-count/" method="post">
                    {% csrf_token %}
                    <select name="show_by_count" onchange="this.form.submit()"
                            class="form-control select" data-container-css-class="bg-slate-700"
                            data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                            data-fouc>
                        <option style="display: none;"></option>
                        <optgroup label="Show by:">
                            <option value="20" {% if show_translations_by|safe == "20" %}selected{% else %}{% endif %}>20</option>
                            <option value="50" {% if show_translations_by|safe == "50" %}selected{% else %}{% endif %}>50</option>
                            <option value="100" {% if show_translations_by|safe == "100" %}selected{% else %}{% endif %}>100</option>
                            <option value="200" {% if show_translations_by|safe == "200" %}{% if default == 0 %}selected{% elif default == 1%}{% endif %}{% else %}{% endif %}>200</option>
                        </optgroup>
                    </select>
                </form>
            </td>
            <td data-hide="phone,tablet">
                <div class="form-check form-check-switchery">
                    
                        {% csrf_token %}
                        <label class="form-check-label">
                            {% if filter_untranslated == '1' %}
                            <form action="/translation/change-show-untranslated/" method="post">
                                {% csrf_token %}
                                <input type="text" name="untranslated" value="0" style="display: none;">
                                <input type="checkbox" class="form-check-input-switchery" name="XYU" data-fouc onchange="this.form.submit()" checked="checked">
                            </form>
                            {% elif filter_untranslated == '0' %}
                            <form action="/translation/change-show-untranslated/" method="post">
                                {% csrf_token %}
                                <input type="text" name="untranslated" value="1" style="display: none;">
                                <input type="checkbox" class="form-check-input-switchery" data-fouc name="HUY" onchange="this.form.submit()">
                            </form>
                            {% else %}
                            <form action="/translation/change-show-untranslated/" method="post">
                                {% csrf_token %}
                            		<input type="text" name="untranslated" value="1" style="display: none;">
                                <input type="checkbox" class="form-check-input-switchery" data-fouc name="HUY" onchange="this.form.submit()">
                                </form>
                            {% endif %}
                            Show only untranslated
                        </label>
                    
                </div>
            </td>
            <td data-toogle="true">
                <input type="text" name="search-system-values" id="search-system-values" class="form-control" autofocus placeholder="Search by system values...">
                <script>
                    $('#search-system-values').keyup(function(){
                        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                        $.ajax
                        ({
                            url: '/translation/search-ajax/',
                            data: {
                                'csrfmiddlewaretoken': csrftoken,
                                'search-system-values': $('input[id="search-system-values"]').val(),
                            },
                            type: 'post',
                            success: function(result)
                            {
                                $("#search_table").html(result);
                            }
                        });
                    });
                </script>
            </td>

            <td data-toogle="true">
                <input type="text" name="search-translated" id="search-translated" class="form-control" autofocus placeholder="Search by translated value...">
                <script>
                    $('#search-translated').keyup(function(){
                        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                        $.ajax
                        ({
                            url: '/translation/search-translated-ajax/',
                            data: {
                                'csrfmiddlewaretoken': csrftoken,
                                'search-translated': $('input[id="search-translated"]').val(),
                            },
                            type: 'post',
                            success: function(result)
                            {
                                $("#search_table").html(result);
                            }
                        });
                    });
                </script>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</div>

{% endblock %}
