{% load staticfiles %}

{% block main_dictionary_table %}

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn bg-slate-600 btn-group mr-2" data-toggle="modal"
                    data-target="#modal_form_vertical">Add new sentence
            </button>
            <form action="/main_dictionary/change-show-count/" method="post" class="btn-group mr-2">
                {% csrf_token %}
                <select name="show_by_count" onchange="this.form.submit()"
                        class="form-control select" data-container-css-class="bg-slate-700"
                        data-dropdown-css-class="bg-slate-700" data-placeholder="Show by:"
                        data-fouc>
                    <option style="display: none;"></option>
                    <optgroup label="Show by:">
                        <option value="20" {% if show_main_dictionary_by|safe == "20" %}selected{% else %}{% endif %}>
                            20
                        </option>
                        <option value="50" {% if show_main_dictionary_by|safe == "50" %}selected{% else %}{% endif %}>
                            50
                        </option>
                        <option value="100" {% if show_main_dictionary_by|safe == "100" %}selected{% else %}{% endif %}>
                            100
                        </option>
                        <option value="200" {% if show_main_dictionary_by|safe == "200" %}{% if default == 0 %}selected
                        {% elif default == 1 %}{% endif %}{% else %}{% endif %}>200
                        </option>
                    </optgroup>
                </select>
            </form>
        </div>
    </div>

    <!-- Inline form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Sentence</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/main_dictionary/add/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="ml-sm-2">Group:</label>
                                    <select class="form-control select" data-container-css-class="bg-slate-700"
                                            data-dropdown-css-class="bg-slate-700" data-placeholder="Group alias"
                                            data-fouc name="group_alias" id="group_id">
                                        <option></option>
                                        {% for group in groups %}
                                            <option value="{{ group.id }}">{{ group.trans_group_title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label>System value:</label>
                                    <input type="text" placeholder="Enter system value" class="form-control"
                                           name="sentence" id="system_value" required>
                                </div>

                                <div class="col-sm-4">
                                    <label>English translation:</label>
                                    <input type="text" placeholder="Enter english translation" class="form-control"
                                           name="english_translation" id="english_translation" required>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-slate-600 ml-sm-2 mb-sm-0">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /inline form modal -->



    <!-- Language table -->

    <div class="card">
        <table class="table table-togglable table-hover">
            <thead>
            <tr>
                <th data-toggle="true">Group</th>
                <th data-toggle="true">System Value:</th>
                <th data-hide="phone,tablet">English translation:</th>
                <th data-hide="phone,tablet">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for value in main_dictionary_values %}
                <tr>
                    <td>{{ value.trans_dict_group.trans_group_title }}</td>
                    <td>{{ value.trans_dict_sentence }}</td>
                    <td>
                        {% for english in value.trans_sentence_key.all %}
                            {% if english.trans_language.language_code == 'en' %}
                                {{ english.trans_translation }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <span>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#modal_form_vertical_{{ value.id }}"><i
                                    class="fa fa-edit mr-3"></i></button>
                        </span>
                    </td>
                </tr>


                <!-- Inline form modal -->
                <div id="modal_form_vertical_{{ value.id }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add New Sentence</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form action="/main_dictionary/add/" method="post">
                                {% csrf_token %}
                                <input type="text" name="group_id" value="{{ value.id }}" style="display: none;">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="text" name="main_dictionary_id" value="{{ value.id }}"
                                                   style="display: none;">
                                            <div class="col-sm-4">
                                                <label>Group:</label>
                                                <select class="form-control select"
                                                        data-container-css-class="bg-slate-700"
                                                        data-dropdown-css-class="bg-slate-700"
                                                        data-placeholder="Group alias"
                                                        data-fouc name="group_alias">
                                                    <option></option>
                                                    {% for group in groups %}
                                                        {% if group.id == value.trans_dict_group_id %}
                                                            <option value="{{ group.id }}"
                                                                    selected>{{ group.trans_group_title }}</option>
                                                        {% else %}
                                                            <option value="{{ group.id }}">{{ group.trans_group_title }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-sm-4">
                                                <label class="ml-sm-2">System value:</label>
                                                <input type="text" placeholder="Enter system value" class="form-control"
                                                       name="sentence" value="{{ value.trans_dict_sentence }}">
                                            </div>

                                            <div class="col-sm-4">
                                                <label>English translation:</label>
                                                <input type="text" placeholder="Enter english translation"
                                                       class="form-control"
                                                       name="english_translation"
                                                       value="

                                                               {% for english in value.trans_sentence_key.all %}{% if english.trans_language.language_code == 'en' %}{{ english.trans_translation }}{% endif %}{% endfor %}">
                                                <input name="english_translation_id"
                                                       value="

                                                               {% for english in value.trans_sentence_key.all %}{% if english.trans_language.language_code == 'en' %}{{ english.id }}{% endif %}{% endfor %}"
                                                       style="display: none;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn bg-slate-600 ml-sm-2 mb-sm-0">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /inline form modal -->



            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- /language table -->


    <script>


        $('#group_id').on('keyup change', function () {
            $('#english_translation').on('keyup change', function () {
                var english_translation = this.value;
                $.ajax({
                    type: 'GET',
                    url: '/system-value-slugify/',
                    data: {
                        'english_translation': english_translation,
                    },
                    success: function (data) {
                        $('#system_value').val(data);
                        ch();
                    }
                });
            });

            $("#system_value").on('keyup change', function () {
                var slug = this.value;
                var group = document.getElementById('group_id');
                var group_seleceted = group.options[group.selectedIndex].value;


                var complete = function (res, status) {
                    if (status == "success") $("#system_value").css({
                        'color': 'green',
                    });
                    else $("#system_value").css({
                        'color': 'red',
                    });
                };


                $.ajax({
                    type: 'GET',
                    url: '/system-value-available/',
                    data: {'system_value': slug, 'trans_dict_group': group_seleceted},
                    complete: complete
                });
            });

            ch();

            function ch() {
                var slug = document.getElementById('system_value').value;
                var group = document.getElementById('group_id');
                var group_seleceted = group.options[group.selectedIndex].value;


                var complete = function (res, status) {
                    if (status == "success") $("#system_value").css({
                        'color': 'green',
                        'font-weight': 'bold',
                    });
                    else
                        $("#system_value").css({
                            'color': 'red',
                            'font-weight': 'bold',
                        });
                };


                $.ajax({
                    type: 'GET',
                    url: '/system-value-available/',
                    data: {'system_value': slug, 'trans_dict_group': group_seleceted},
                    complete: complete
                });
            }
        });
    </script>


{% endblock %}