{% load staticfiles %}

{% block main_dictionary_pagination %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if main_dictionary_values.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/main_dictionary/{{ main_dictionary_values.previous_page_number }}/">
                        &laquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &laquo;
                    </a>
                </li>
            {% endif %}

            {% for page in main_dictionary_values.paginator.page_range %}
                {% if page == main_dictionary_values.number %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/main_dictionary/{{ page }}/">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if main_dictionary_values.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/main_dictionary/{{ main_dictionary_values.next_page_number }}/">
                        &raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}